<head>
<link rel = "stylesheet" href= "css/style.css">
<h1 class = "color font center">THIS IS THE HEADER</h1>
<ul>
	<li><a href='/thiswontwork' style = "background-color: blue;color: black"> This doesn't work </a></li> 
	<li><a href='/play' style = "background-color: blue;color: black"> might work </a></li>
	<li><a href='/names' style = "background-color: blue;color: black"> skip login </a></li>
</ul>
</head>

<body>
	<%=yield%>
</body>

<footer>
footer here
<a href='//www.minedminds.org'target = "_blank">Mined minds site
</a>
</footer>