<head>
<link rel = "stylesheet" href= "css/style.css">
<h1 class = "color font center">THIS IS THE HEADER</h1>
<ul>
	<li><a href='/'> Restart </a></li> 
	<li><a href='/play'> might work </a></li>
	<li><a href='/names'> skip login </a></li>
</ul>
</head>

<body>
	<%=yield%>
</body>

<footer>
<a href='//www.minedminds.org'target = "_blank">Mined minds
</a>
</footer>