
<h1> <%=message%> </h1>

<p  class = "name" >Please enter your first and last name?</p>


<form method = "post" action = "names">

	<center>
	first name<input type = "text" name = "firstname">
	last name<input type = "text" name = "lastname">
	<input type = "submit" value = "enter">
	</center>

</form>