<center><h1> <%=message%> </h1></center>

<center><h1> Please enter your first and last name</h1></center>

<form method = "post" action = "names">

	<center>
	first name<input type = "text" name = "firstname">
	last name<input type = "text" name = "lastname">
	<input type = "submit" value = "enter">
	</center>

</form>