.color{
color: black;
}

.font{
	font-size: 15vh;	
}
ul{
	font-size:25px;
	border-style:groove;
	border-width:medium;
	border-color:gold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-image:url(/images/nav_gif.gifs);
    background-position:center;
    background-size:cover;
}

li{
	display: block;
	margin-left: 3vh;

}

.name{
	font-size: 10vh;
	text-align: center;
}

.center{
	text-align: center
}

body{
	color:black;
	background-image:url(/images/background.gif);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

footer{
	text-align:center;
}

